<div class="box">
    <header
      header>
      <h1>MEA(R)N Stack Web Development Expert - Angular & React</h1>
      <p><h6>Luminar Technolab provides best MEA(R)N Stack Web Development Expert - Angular & React Training with 100% Job Placement assistance. Get trained from industry experts & start your IT career.</h6>
    </header>
    <main>
      <div class='card'>
        <div class='info'>
          <h1 class='title'>Next Batch: </h1>
          <p class='description'>Cochin Feb 15th 2023 (Offline & Online)<br>
            Calicut :  Feb 15th 2023 (Offline)<br>
            Duration:<br>
            5 Months, 5 Days a Week, 1.5-2 Hours/day<br>
            Course Fee:<br>
            Offline : 41500<br>
            Online : 36500</p><br>
            <h2 class="software">MEA(R)N Stack- Angular & React</h2><br>
      <h5>Software testing is an important function in many businesses. The job of a software tester can be very challenging but can be satisfying for people who are interested in problem-solving and risk management. The demand for software testers is on the rise and if you are searching for a way to start a career in the field of IT, then a software tester can be a good option.  
          <br>  <h2 class="software">What You Will Learn</h2>
             <h4>Luminar Technolab - Software Training Institute </h4> <br><br>
      <h5>HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB</h5>
    </h5>
    <button  style="width: 150px; height: 50px;"  routerLink="/course">Back</button>
        </div>
      </div>
    </main>
    </div>
