<div class="box">
    <header
      header>
      <h1>Python Django - Angular- Full Stack Web Development Expert</h1>
      <p><h6>Luminar Technolab provides best Python Django - Angular- Full Stack Web Development Expert Training with 100% Job Placement assistance. Get trained from industry experts & start your IT career.

      </h6>
    </header>
    <main>
      <div class='card'>
        <div class='info'>
          <h1 class='title'>Next Batch: </h1>
          <p class='description'>Cochin : Feb 15th 2023 (Offline & Online)<br>
            Calicut : March 22nd 2023 (Offline Only)<br>
            Duration:<br>
            4 Months, 5 Days a Week, 1.5 - 2 Hours/day<br>
            Course Fee:<br>
            Offline : 31500<br>
            Online : 29500</p><br>
            <h2 class="software">Python Django</h2><br>
      <h5>Python is versatile, user-friendly, and high in demand. It is the most used and fastest-growing programming language in Data Science, Web Development, and App Development. This makes it one of the most career-oriented courses in IT. There are endless applications for Python in the current technological field.</h5>  
            <h2 class="software">What You Will Learn</h2>
             <h4>Luminar Technolab - Software Training Institute </h4> 
      <h5>Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web Concepts & Tools.</h5>
      <button  style="width: 150px; height: 50px;"  routerLink="/course">Back</button>
    
        </div>
      </div>
    </main>
    </div>
