<div class="box">
    <header
      header>
      <h1>Android Developer Expert Training In Kochi- Flutter</h1>
      <p><h6>Luminar Technolab provides best Software Testing Specialist Training with 100% Job Placement assistance. Get trained from industry experts & start your IT career.Manual Testing , Java foundations,</h6>
    </header>
    <main>
      <div class='card'>
        <div class='info'>
          <h1 class='title'>Next Batch: </h1>
          <p class='description'>Cochin :Feb 1st 2023 (Offline & Online<br>
            Calicut : Mar 1st 2023 (Offline)<br>
            Duration:<br>
            4 months.( 1.5-2 Hours/day)<br>
            Course Fee:<br>
            Offline : 29500<br>
            Online : 25500</p><br>
            <h2 class="software">Flutter</h2><br>
      <h5>Flutter is Google's modern and free SDK allowing you to write desktop, web and mobile apps with the same code-base.

        This course is for absolute beginners. You don't even have to know how to write code in any programming language to begin. </h5> 
            <h2 class="software">What You Will Learn</h2>
             <h4>Luminar Technolab - Software Training Institute </h4> 
      <h5>Dart, Flutter Introduction to Android, Android Studio, AndroidManifest.xml, Directories, Layout Designing, Basics & Intents, UI Designing, Composite & Custom Views</h5>
      <button  style="width: 150px; height: 50px;"  routerLink="/course">Back</button>
    
        </div>
      </div>
    </main>
    </div>
