<div class="box">
<header
  header>
  <h1>Software Testing Specialist</h1>
  <p><h6>Luminar Technolab provides best Software Testing Specialist Training with 100% Job Placement assistance. Get trained from industry experts & start your IT career.Manual Testing , Java foundations,</h6>
</header>
<main>
  <div class='card'>
    <div class='info'>
      <h1 class='title'>Next Batch: </h1>
      <p class='description'>Cochin : Feb 15th 2023 (Offline & Online)<br>
        Calicut : March 22nd 2023 (Offline Only)<br>
        Duration:<br>
        4 Months, 5 Days a Week, 1.5 - 2 Hours/day<br>
        Course Fee:<br>
        Offline : 31500<br>
        Online : 29500</p><br>
        <h2 class="software">Software Testing</h2><br>
  <h5>Software testing is an important function in many businesses. The job of a software tester can be very challenging but can be satisfying for people who are interested in problem-solving and risk management. The demand for software testers is on the rise and if you are searching for a way to start a career in the field of IT, then a software tester can be a good option.  
        <h2 class="software">What You Will Learn</h2>
         <h4>Luminar Technolab - Software Training Institute </h4> 
  <h5>Manual Testing , Java foundations, Mobile Testing, Automation Testing, Selenium IDE, Selenium Web driver, Selenium Advanced Web driver, Selenium Grid, TestNG, SQL workshop, Performance Testing, JMeter - Advanced, POSTMAN, API Testing, JIRA, Course Project</h5>
</h5>
<button  style="width: 150px; height: 50px;"  routerLink="/course">Back</button>
    </div>
  </div>
</main>
</div>