<div class="box">
<div class="container">
    <div class="section-title">
        <h1>COURSES</h1>
    </div>

    <div class="row">

        <div class="column">
            
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/soft.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Software Testing Specialist</h2>
                        <p>Manual Testing , Java foundations, Mobile Testing, Automation Testing, Selenium IDE, Selenium Web driver, Selenium Advanced Web driver, Selenium Grid, TestNG, SQL workshop, Performance Testing, JMeter - Advanced, POSTMAN, API Testing, JIRA</p>
                        <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Data Science - ML - A.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Data Science </h2>
           <p>Python, Hadoop, Spark, Data Analytics, Linear Algebra, Statistics, Probability Concepts, Machine Learning, Deep Learning <br><br><br><br>

           </p>                  
                 <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Asp.net MVC with Angular - Full Stack.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Asp.net MVC with Angular</h2>
                        <p>C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC</p>
                        <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Android Developer Flutter.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2> Flutter</h2>
                        <p>Dart, Flutter Introduction to Android, Android Studio, AndroidManifest.xml, Directories, Layout Designing, Basics & Intents, UI</p>
                        <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Python Django.png" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Python Django </h2>
                        <p>Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web</p>
                        <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/MEA(R)N Stack.png" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>MEA(R)N Stack </h2>
                        <p>HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB</p>
                        <div class="effect-btn">
                            <a href="#" class="btn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>