<div class="box">
<div class="container">
    <div class="section-title">
        <h1>COURSES</h1>
    </div>

    <div class="row">

        <div class="column">
            
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/soft.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Software Testing Specialist</h2><br>
                        <div class="effect-btn">
                            <a href="#" class="btn" routerLink="/testing"><i class="fa fa-eye" ></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Data Science - ML - A.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Data Science </h2>

                            
                 <div class="effect-btn">
                            <a href="#" class="btn"  routerLink="/datascience"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Asp.net MVC with Angular - Full Stack.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Asp.net MVC with Angular</h2><br>
                        <div class="effect-btn">
                            <a href="#" class="btn" routerLink="/asp"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Android Developer Flutter.jpeg" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2> Flutter</h2>
                        <div class="effect-btn">
                            <a href="#" class="btn" routerLink="/flutter"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/Python Django.png" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>Python Django </h2>
                        <div class="effect-btn">
                            <a href="#" class="btn" routerLink="/python"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="effect">
                <div class="effect-img">
                    <img src="../../assets/images/MEA(R)N Stack.png" alt="">
                </div>
                <div class="effect-text">
                    <div class="inner">
                        <h2>MEA(R)N Stack </h2>
                        <div class="effect-btn">
                            <a href="#" class="btn" routerLink="/mearn"><i class="fa fa-eye"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div style="width:100%; display: flex;"><button  style="width: 150px; height: 50px;"  routerLink="/home">Back</button>
</div>
</div>