
<div class="box">
 <div class="Placement"><h2>Placements</h2></div> 

  <div class="containerr">
    
    <img src="../../assets/images/images (1).jpeg" alt="">
    <img src="../../assets/images/images (2).jpeg" alt="">
    <img src="../../assets/images/images (3).jpeg" alt="">
    
    <img src="../../assets/images/images (4).jpeg" alt="">
    <img src="../../assets/images/images (5).jpeg" alt="">
    <img src="../../assets/images/images (6).jpeg" alt="">
  </div>

  <div class="containerr">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGl3ijmpzsp66tK5w5xHgyu96QFL_74IjuaxtXJ3oyGiy29Nma17TeknD8oCmpsglGO1M&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTejcpPViJgl1DSeQEBbogllBonXK4azKg2PJMOpZ6JCIm1LkUn5SdbzIgSUpkZbGIJW7o&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmC6NYyKptYFbovZsw7Xcth-_lRdEsoyiawCxgURWZxH_f9kHLqNnT7SP9sx_mxhf2UtI&usqp=CAU" alt="">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ0tzC0yEHPShCMk2ZW10AP9uMq2aDht2zuRCowr2KI98oNOjvZYc1Ib2Qbdw0dJ3i5p0&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2JVHBkU04XFt55aTsx5ezp9H6o_IOP8Eu_wqPcZhbrcdYAggSa_kH5Nf366-pLft_N5U&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ50pKklHXuOQ_963lEKf74Af3HtKf0aOhXSGckdYPkHYFzWUn1BLHaViPfn1XHaeJoNAg&usqp=CAU" alt="">
  </div>
</div>