<div class="box">
    <header
      header>
      <h1>Asp.net MVC with Angular - Full Stack</h1>
      <p><h6>Luminar Technolab provides best Asp.net MVC Full Stack Training with 100% Job Placement assistance. Get trained from industry experts & start your IT career.</h6>
    </header>
    <main>
      <div class='card'>
        <div class='info'>
          <h1 class='title'>Next Batch: </h1>
          <p class='description'>Cochin :Feb 28th 2023 (1:00 PM- 03:00 PM)

            <br>
            Calicut :Not Available<br>
            Duration:<br>
            4 Months, 5 Days a Week, 2 Hours/day<br>
            Course Fee:<br>
            Offline : 21500<br>
            Online : 29500</p><br>
            <h2 class="software">Asp.net MVC with Angular - Full Stack</h2><br>
      <h5>ASP.NET is a web development platform, which provides a programming model, a comprehensive software infrastructure and various services required to build up robust web applications for PC, as well as mobile devices.



  
            <h2 class="software">What You Will Learn</h2>
             <h4>Luminar Technolab - Software Training Institute </h4> 
      <h5>C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC Architecture, Entity Framework, Dot Net Core, WEB API, Angular, GUI Development.</h5>
    </h5>
       <button  style="width: 150px; height: 50px;"  routerLink="/course">Back</button>
        </div>
      </div>
    </main>
    </div>
